<html>
	<head>
	</head>
	<body>
		<h1>Edit Book</h1>
		<form action="/book/{{book.id}}/edit/" method='POST'>
			<input type='text' size='30' name='title' value='{{book.title}}'>
			<input type='submit' value='Submit'>
		</form>
	</body>
</html>