<html>
<head>
</head>
<body>
<h1>Books</h1>
{% if books == [] %}
	<p>No books exist</p>
{% else %}
	{% for i in books %}
		<div>{{i.title}}</div>
		<div><a href="/book/{{i.id}}/edit"> Edit book</a></div>
		<div><a href="/book/{{i.id}}/delete"> Delete book</a></div><br>
	{% endfor %}
{% endif %}
</body>
</html>